
      
<h2 class="module-title font-alt align-left mt-0">
          
            <div *ngIf="selectedProduct.model==ProductModel.old_oak">
                Heritage Old Oak
            </div>
           <div *ngIf="selectedProduct.model==ProductModel.black_oak">
                Heritage Black Oak
          </div>
          <div *ngIf="selectedProduct.model==ProductModel.model_001">
                Essence 001
            </div>
           <div *ngIf="selectedProduct.model==ProductModel.straight">
                Essence Straight
          </div>
          <div *ngIf="selectedProduct.model==ProductModel.model_003">
                Essence 003
            </div>
          <div *ngIf="selectedProduct.model==ProductModel.propeller">
                Pure Propeller
            </div>
           <div *ngIf="selectedProduct.model==ProductModel.the_one">
                Pure The One
          </div>
          <div *ngIf="selectedProduct.model==ProductModel.vegas_vic">
                Pure Vegas Vic
      </div>                    
</h2>
<a class="different-model font-alt" [routerLink]="['/products']" fragment="heritage-grid" i18n="Configurator|Go back link @@GoBackToGrid">
      << Zmień model</a>