<section class="bg-dark">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h2 class="module-title  align-left">
                    <span class="dyle-brand-font" i18n="Home Page|Products Section Header@@productsHeader">Serie</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-image">
                        <a [routerLink]="['/products']" fragment="heritage-grid">
                            <img src="../../assets/images/renders/heritage.jpg" alt="Heritage" />
                        </a>
                    </div>
                    <h2 class="module-title  align-left" i18n="Products Page|Seria Heritage@@heritageHeader">Heritage</h2>
                    <p class=" text-justify" i18n="Products Page|Seria Heritage Desc@@heritageDesc">Wiodącą linią naszych produktów jest seria heritage. Użyte do jej stworzenia blaty w 100% pochodzą z
                        drewna dębowego, które przez kilkaset lat stanowiło budulec wiejskich gospodarstw. Chcąc ocalić to
                        dziedzictwo korzystamy z desek z rozebranych na terenie Europy budynków. Nasze meble są dzięki temu
                        niezwykle wytrzymałe, niepowtarzalne i absolutnie ekologiczne.</p>
                    <p class=" text-justify" i18n="Products Page|Seria Heritage Desc@@heritageDesc2">Złożony proces analizy materiału i staranna weryfikacja zapewnia, że tylko najlepsze drewno trafia do
                        naszego warsztatu. Pochodzenie dębu gwarantuje, że każdy jego kawałek zastosowany do produkcji jest
                        unikalny, co w połączeniu z całkowicie ręczną obróbką składa się na niepowtarzalność produktów tej
                        linii. Ręczne frezowania stanowią gwarancję perfekcyjnego dopasowania metalowych elementów wykonanych
                        z włoskiej, polerowanej stali lustrzanej. </p>
                    <p class=" text-justify" i18n="Products Page|Seria Heritage Desc@@heritageDesc3">Dzięki temu jesteśmy w stanie uzyskać efekt niemal całkowitej jednorodności formy. Seria heritage to
                        unikalne połączenie historii i nowoczesności.</p>

                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-image">
                        <a [routerLink]="['/products']" fragment="essence-grid">
                            <img src="../../assets/images/renders/essence.jpg" alt="Essence" /> </a>
                    </div>
                    <h2 class="module-title align-left" i18n="Products Page|Seria Essence@@essenceHeader">Essence</h2>
                    <p class=" text-justify" i18n="Products Page|Seria Essence Desc@@essenceDesc">Seria stołów łączących w sobie to, co w marce Dyle najważniejsze: niezwykłą dbałość o szczegóły z nowoczesnym
                        designem. Perfekcyjne wykonanie stołów oraz ręczna praca gwarantują meblom spod znaku essence niepowtarzalny
                        efekt.
                    </p>
                    <p class=" text-justify" i18n="Products Page|Seria Essence Desc@@essenceDesc2">Modele tej serii wykonywane są ze starannie dobieranych bali nowego dębu najwyższej jakości. Poza wszystkimi
                        etapami weryfikacji jakie pokonuje dębina, przykładamy szczególną uwagę do tego, aby tylko drewno
                        z właściwym ułożeniem słojów trafiało do naszego warsztatu . Dla klientów ceniących unikatowość oraz
                        piękno starego drewna stoły serii essence dostępne są także z blatami wykonanymi ze starych, ponadstuletnich
                        dębowych bali.Stoły linii essence osadzone są na ramie z nierdzewnej stali lustrzanej importowanej
                        z Włoch, co czyni je naprawdę wyjątkowymi. Jedną z ich charakterystycznych cech jest ciągłe połączenie
                        pomiędzy metalem okalającym blat. Płynność ta podkreśla prostotę formy.</p>
                    <p class=" text-justify" i18n="Products Page|Seria Essence Desc@@essenceDesc3">Linia stołów essence jest serią bardzo zróżnicowaną stylistycznie: stoły klasyczne spotykają się z nowoczesnym
                        i odważnym designem. Seria stanowi idealne połączenie nowoczesnego stylu, odważnych linii oraz ponadczasowych
                        i szlachetnych materiałów.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-image">
                        <a [routerLink]="['/products']" fragment="pure-grid">
                            <img alt="Pure" src="../../assets/images/renders/pure.jpg">
                        </a>
                    </div>
                    <h2 class="module-title align-left" i18n="Products Page|Seria Pure@@pureHeader">Pure</h2>
                    <p class=" text-justify" i18n="Products Page|Seria Pure Desc@@pureDesc">Seria stołów wykonana z charakterystyczną dla marki Dyle precyzją: łączy niezwykłą dbałość o szczegóły
                        z nowoczesnym a zarazem prostym designem. Dzięki klasycznej, zdecydowanej formie i minimalistycznemu
                        designowi stoły serii pure stanowią materializację definicji stołu. </p>
                    <p class=" text-justify" i18n="Products Page|Seria Pure Desc@@pureDesc2">Modele pure wykonywane są ze starannie wyselekcjonowanych bali nowego dębu. Klienci zainteresowani inną
                        kolorystyką mogą skorzystać z zakupu stołów z dębu barwionego.
                    </p>
                    <p class=" text-justify" i18n="Products Page|Seria Pure Desc@@pureDesc3">Blaty osadzone są na ramie z tzw. czarnej stali malowanej wraz z nogami proszkowo na kolor biały lub
                        czarny. Podkreślenie szlachetności produktów osiągnięte zostało dzięki matowej, gładkiej i aksamitnej
                        strukturze powłok wykorzystywanych do malowania. W tej serii możliwe jest także opcjonalne zastosowanie
                        lustrzanej stali importowanej z Włoch.</p>
                    <p class=" text-justify" i18n="Products Page|Seria Pure Desc@@pureDesc4">Linia pure stanowi swoistą podróż w najróżniejsze zakątki świata. Ciekawą propozycją jest model, którego
                        elementy inspirowane są dzikim zachodem.</p>
                </div>
            </div>
        </div>
    </div>
</section>