<div class="text-right product-configurator__price">
  <span class="font-alt" i18n="Product Price|Price Label@@price label">cena </span>
  <span class="font-alt product-configurator__price--digits">
    {{selectedProduct.price | dyleCurrency }} </span>
  <span class="font-alt product-configurator__price--currency" i18n="Product Price|Currency Symbol@@currencySymbol">
    PLN
  </span>
</div>