<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="copyright font-alt">&copy; 2017&nbsp;
          <a href="index.html">Dyle</a>, <span i18n="Footer|All Rights Reserved@@allRightsReserved">All Rights Reserved, projekt strony internetowej</span> —
          <a href="http://constrade.it">constrade.IT</a>
        </p>
      </div>
    </div>
  </div>
</footer>