<section class="module" id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt" i18n="Services|Heritage family@@heritageFamily">HERITAGE FAMILY</h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
      <div class="row multi-columns-row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="content-box">
            <div class="content-box-image">
              <img src="assets/images/thumb-heritage.png" alt="Heritage Old Oak">
            </div>
            <h3 class="content-box-title font-alt">Heritage Old Oak</h3>
            <span i18n="Services|Heritage Old Oak service desc@@HeritageOldOakServiceDesc">
              Donec laoreet ante eu turpis dignissim pellentesque. Vestibulum maximus ipsum a purus accumsan, et commodo lorem imperdiet. Ut commodo aliquet ipsum, sed luctus mi. Duis dignissim imperdiet purus, vel tincidunt risus porta quis. Etiam leo diam, ullamcorper id erat sit amet, efficitur sodales metus. Sed semper finibus lorem, id dapibus sapien imperdiet eget. Pellentesque vitae ante at nunc finibus auctor. In in augue id nisl accumsan consectetur. Nam lobortis hendrerit ante, vitae rutrum metus fringilla eget. Maecenas vel nunc a turpis malesuada eleifend ac at sem. Mauris quis massa tempus, lacinia leo non, facilisis justo. Nunc pulvinar ullamcorper tellus ac scelerisque. Nunc nec tortor non turpis vestibulum pretium. Praesent et mauris at enim vestibulum efficitur. Fusce ut nunc ante. Maecenas dapibus, est in cursus facilisis, nisi ex molestie nisl, posuere sollicitudin leo est placerat nulla.
            </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="content-box">
            <div class="content-box-image">
              <img src="assets/images/thumb-heritage.png" alt="Heritage Black Oak">
            </div>
            <h3 class="content-box-title font-alt">Heritage Black Oak</h3>
            <span i18n="Services|Heritage Black Oak service desc@@HeritageBlackOakServiceDesc">
            Duis dignissim imperdiet purus, vel tincidunt risus porta quis. Etiam leo diam, ullamcorper id erat sit amet, efficitur sodales metus. Donec laoreet ante eu turpis dignissim pellentesque. Vestibulum maximus ipsum a purus accumsan, et commodo lorem imperdiet. Ut commodo aliquet ipsum, sed luctus mi.Nam lobortis hendrerit ante, vitae rutrum metus fringilla eget. Maecenas vel nunc a turpis malesuada eleifend ac at sem. Mauris quis massa tempus, lacinia leo non, facilisis justo. Nunc pulvinar ullamcorper tellus ac scelerisque. Nunc nec tortor non turpis vestibulum pretium. Praesent et mauris at enim vestibulum efficitur. Fusce ut nunc ante. Maecenas dapibus, est in cursus facilisis, nisi ex molestie nisl, posuere sollicitudin leo est placerat nulla.
              </span>
          </div>
        </div>
      </div>
    </div>
  </section>