<p class="mt-40">  
  <span *ngIf="selectedProduct.model==ProductModel.old_oak" i18n="Configurator|Heritage Old Oak Description@@oldOakDesc">
      Model old oak pochodzi z naszej wiodącej serii heritage i jest jednocześnie jej prekursorem. Stanowi
      ponadto punkt startu dla całej marki Dyle: to w trakcie prac nad tym projektem zrodziły się
      podstawowe wartości marki. Żywe dyskusje twórców-założycieli pozwoliły wówczas zdefiniować i w
      pełni określić cele i metody pracy. Przy wykonaniu modelu old oak unikalność struktur spotykając się
      z tradycją dały początek niezwykłej jednorodnej formie. W serii old oak blaty pochodzą jedynie z
      drewna dębowego, które przez kilka stuleci stanowiło budulec wiejskich gospodarstw. Proces
      produkcji każdego egzemplarza tego modelu poprzedza szczegółowa analiza materiału, z którego ma
      zostać wykonany blat stołu. Tylko dzięki temu możemy mieć pewność, że do jego wytworzenia trafia
      jedynie najlepsze drewno ścięte nierzadko 300, a minimalnie 120 lat temu. Ręczne frezowania i
      obróbka stanowią gwarancję perfekcyjnego dopasowania metalowych elementów wykonanych z
      włoskiej stali lustrzanej oraz pozwalają uzyskać tak monogeniczną formę. Dzięki tym zabiegom każdy
      stół modelu old oak jest całkowicie unikatowy i możemy być pewni, że nigdzie na świecie nie istnieje
      drugi taki sam egzemplarz.
  </span>
 <span *ngIf="selectedProduct.model==ProductModel.black_oak" i18n="Configurator|Heritage Black Oak Description@@blackOakDesc">
      Model black oak to podkreślenie unikatowości serii heritage. Powstając na bazie wiodącego modelu
      old oak, nie tylko łączy on w sobie wszystkie cechy swojego prekursora, ale także stanowi formę
      stworzoną z myślą o koneserach dla których niedostępność budzi pożądanie. Istotą tego modelu jest
      tzw. czarny dąb, z którego wykonano blat. Materiał ten jest pozyskiwany tylko i wyłącznie z dębów
      kopalnych - przebywających w ziemi lub pod wodą od co najmniej kilkuset lat. Nieprzeciętnie
      ekskluzywny, niezwykle trudny do zdobycia, bardzo pracochłonny w obróbce, jedyny który po wielu
      godzinach pracy potrafi dać tak niepowtarzalny efekt – oto charakterystyka czarnego dębu. Model
      black oak jest niezrównany, przeznaczony dla najbardziej wymagających klientów. Każdy egzemplarz
      tego ekskluzywnego mebla to jedyna na świecie, niepowtarzalna forma - wykonane z największą
      dbałością o każdy detal swoiste dzieło sztuki i pochwała ręcznego rzemiosła.
</span>
<span *ngIf="selectedProduct.model==ProductModel.model_001" i18n="Configurator|Essence 001 Description@@model001Desc">
      Dbałość o szczegóły i detale, unikalność formy, połączenie tradycji z nowoczesnością, szlachetność
      dębu i piękno włoskiej stali - te cechy są wizytówką stołu 001. Osadzony na metalowej ramie swoją
      formą nawiązuje do modelu old oak. Dzięki wielu możliwościom projektowym, stół 001 stał się
      kultowym produktem naszej marki, który niezmiennie wzbudza zachwyt i cieszy się
      zainteresowaniem klientów. Nieodłącznym etapem procesu produkcyjnego tego modelu jest ręczna
      praca, która w połączeniu z tak szlachetnym materiałem jakim jest dąb nadaje każdemu
      egzemplarzowi wyjątkowego i niepowtarzalnego charakteru. Osobom decydującym się na ten model
      dajemy możliwość wyboru materiałów z jakich wykonany zostanie blat oraz nogi stołu - niezmiennie z
      dbałością o najwyższą jakość i każdy detal.
  </span>
 <span *ngIf="selectedProduct.model==ProductModel.straight" i18n="Configurator|Essence Straight Description@@straightesc">
      Prostota formy i siła wyrazu modelu straight sprawiają, że jest on czystą materializacją definicji stołu.
      Piękno drewnianego blatu zostało skromnie podkreślone przez linię metalowej podstawy oraz ręcznie
      wykonane zaoblenia drewna. W tym modelu zarówno rama, na której został osadzony blat jak i nogi
      stołu zbudowane zostały z włoskiej lustrzanej stali. Zdecydowanym na stół straight oferujemy
      możliwość wyboru także innych materiałów tak w zakresie samego blatu jak i nóg. Stół, który
      przykuwa uwagę wyeksponowanymi drewnianymi narożnikami. W modelu straight krawędzie metalu
      
      nabrały prostości, łagodne kątowe zmiany wysokości ramy zastąpiły ostre, proste przejścia. Dzięki
      niskiej linii metalowej podstawy blatu, jaka została zachowana przy każdym rogu stołu możemy
      obserwować pełnię precyzji ręcznego wykonania drewnianych zaoblonych narożników.
</span>
<span *ngIf="selectedProduct.model==ProductModel.model_003" i18n="Configurator|Essence 003 Description@@model003Desc">
      Model 003 to kolejny z serii stołów essence – serii charakteryzującej się przede wszystkim dbałością o
      najwyższą jakość i perfekcję wykonania każdego detalu. Stół 003 to – jak do tej pory – model najdalej
      odbiegający stylistyką od kanonu stołu old oak. Wyraźnie inny, z odważną, odmienną i nietuzinkową
      linią pięknie prezentuje smukłe i delikatne nogi, co w połączeniu z wyoblonym frezowaniem blatu
      nadaje meblowi niezwykłej lekkości. Jednocześnie dzięki zastosowaniu materiałów
      charakterystycznych dla marki Dyle - najwyższej jakości dębu oraz włoskiej stali - ten luksusowy stół
      prezentuje się niebywale szykownie. Model 003 osadzony został na grubej, stabilnej metalowej
      ramie, podczas gdy nogi niezmiennie stanowią połączenie włoskiej stali i drewna. Osobom
      decydującym się na model 003 dajemy - podobnie ja w wypadku pozostałych modeli tej serii -
      możliwość wyboru materiałów, z jakich wykonany zostanie blat oraz nogi stołu.
</span>
<span *ngIf="selectedProduct.model==ProductModel.propeller" i18n="Configurator|Pure Propeller Description@@propellerDesc">
      Nogi jednostronnie delikatnie zwężane ku dołowi, subtelna prosta rama podkreślająca piękno
      dębowego blatu, na której został on osadzony - oto cechy charakterystyczne modelu propeller.
      Idealna proporcja między prostą linią metalowej ramy, a grubością drewnianego blatu sprawia,
      że stół wygląda bardzo szykownie a jednocześnie stabilnie. Jako jedyny z serii pure - model
      propeller odziedziczył z pozostałych serii absolutną monogeniczność formy: frezowanie
      wykonane w blacie sprawia, że elementy metalowe są połączone z drewnem w sposób idealny i
      precyzyjny. Stół w wersji bazowej wykonujemy z nowego dębu, elementy metalowe natomiast
      ze stali malowanej proszkowo na kolor czarny mat bądź biały mat. Za dodatkową opłatą
      elementy metalowe stołu możemy wykonać także z włoskiej stali lustrzanej.
  </span>
 <span *ngIf="selectedProduct.model==ProductModel.the_one" i18n="Configurator|Pure The One Description@@theOneDesc">
      Stół w czystym tego słowa znaczeniu. Model przeznaczony dla osób, dla których skromność i
      oczywistość formy stanowi podstawę przy wyborze mebli. Stół the one osadzono na prostych
      drewniano - metalowych nogach, podczas gdy blat wykonano z nowego dębu najwyższej jakości.
      Dzięki uniwersalnej i ponadczasowej formie mebel jest idealny do niemalże każdego rodzaju
      minimalistycznego bądź loftowego wnętrza. Elementy metalowe standardowo wykonywane ze
      stali malowanej proszkowo na kolor czarny mat bądź biały mat możemy za dodatkową opłatą
      wykonać z włoskiej stali lustrzanej.
</span>     
<span *ngIf="selectedProduct.model==ProductModel.vegas_vic" i18n="Configurator|Pure Vegas Vic Description@@vegasVicDesc">
      Model vegas vic przeznaczony jest dla miłośników estetyki rodem z dzikiego zachodu jednak
      podanej w nieprzesadzonej i smacznej formie. Prosta, klasyczna linia mebla oraz wykończenie ze
      szlachetnego dębowego drewna nadają mu smaku oraz czynią go niezwykle gustownym.
      Delikatne półokrągłe wycięcia nóg subtelnie odsłaniają piękno wypełniającego je drewna oraz
      nadają stołowi charakteru. Vegas vic idealnie wpisuje się w klimat wnętrz inspirowanych
      amerykańską kulturą dzikiego zachodu. W wersji bazowej blat wykonano z nowego dębu,
      natomiast elementy metalowe ze stali malowanej proszkowo na kolor czarny mat bądź biały
      mat. Za dodatkową opłatą elementy metalowe stołu  możemy wykonać także z włoskiej stali
      lustrzanej.
</span>  
</p>