.concept-gallery {
    .gallery-item{
        margin:0px;
    }
}

.concept-image {
    max-height: 400px;
    overflow: hidden;
    img {
        max-height:600px;
    }
}

.concept h2 {
    margin-top: 0px;
}

.concept .row:not(:first-of-type) {
    margin-top: 40px;
}
