.footer {
	padding: 10px 0;

	.copyright {
		margin: 0;
		text-align: center;
		font-size: 1rem;
	}

	.footer-social-links {
		text-align: right;

		a {
			display: inline-block;
			padding: 0 6px;
		}
	}
}