

.content-box {
    margin: 20px 0;
    text-align: center;
}

.content-box-title {
    font-weight: 400;
    font-size: 18px;
    color: #111;
    margin: 16px 0 15px;
}

.content-box-image {
    position: relative;
    overflow: hidden;
    img {
        -webkit-transition: 1s ease-in all;
        transition: 1s ease-in all;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}