
    
    .tab-content .tab-pane {
        padding: 20px 0;
    }
    .panel-title {
        font-size: 14px;
    }

    .panel-heading a {
        position: relative;
        display: block;
    }

    .panel-heading a:after {
        position: absolute;
        content: "\f106";
        top: 50%;
        right: 0px;
        font-family: "FontAwesome";
        line-height: 1;
        font-size: 14px;
        margin-top: -7px;
    }

    .panel-heading a.collapsed:after {
        content: "\f107";
    }

    .sidebar .widget {
        margin-bottom: 60px;
    }

    .sidebar .widget-title {
        color: #111;
    }

    .widget .widget-title {
        border-bottom: 1px solid #2a2a2a;
        font-size: 14px;
        padding: 0 0 10px;
        margin: 0 0 15px;
    }

    .widget ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /* Icon List */

    .widget .icon-list li {
        padding: 5px 0;
    }

    .widget .icon-list li a:before {
        content: "\00BB";
        color: #666666;
        padding-right: 5px;
    }

    .widget {
        &.social-links {
            .fa {
				font-size: 20px;
				margin-right: 20px;
            }
        }
    }
    /* Posts */

    .widget-posts li {
        margin: 0 0 15px;
    }

    .widget-posts li:last-child {
        margin: 0;
    }

    .widget-posts-image {
        float: left;
        width: 64px;
    }

    .widget-posts-body {
        margin-left: 74px;
    }
    /* Search */

    .search-box {
        position: relative;
    }
    /* Tags */

    .tags a {
        background: #111;
        display: inline-block;
        font-size: 10px;
        color: #fff;
        padding: 4px 10px 4px 12px;
        margin: 0 1px 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    .tags a:hover {
        background: rgba(17, 17, 17, .8);
    }