  <main>
    <my-navigation></my-navigation>

    <my-welcome-screen></my-welcome-screen>

    <div class="main">
    <my-about></my-about>
    <my-concept></my-concept>   
    <my-products></my-products> 
    <hr class="divider-d">
    <my-brochures></my-brochures>

    <my-visit-us></my-visit-us>
    <!-- <my-subscribe></my-subscribe>  -->
          
    <my-sitemap></my-sitemap>      
      
    <hr class="divider-d">
    <my-footer></my-footer>
    </div>
    <div class="scroll-up">
      <a href="#totop">
        <i class="fa fa-angle-double-up"></i>
      </a>
    </div>
  </main>
