<my-navigation></my-navigation>
<section class="module-header bg-dark-30" style="background:url(../assets/images/dyle-aboutp.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="font-alt  module-title dyle-title-size-3">
          <span class="dyle-black" i18n="Concept Page|Your@@yourSatisfactionTextValues">O nas</span>
          <!-- <span class="dyle-brand-font" i18n="Concept Page|Your@@yourSatisfactionTextDyle">dyle</span> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="module bg-dark concept">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-8">
        <h2 class="module-title  align-left" i18n="Concept Page|Values header@@valuesHeader">O firmie, misja i geneza</h2>
      </div>
      <div class="col-sm-4 text-center concept-image">
        <img class="" src="assets/images/logo.jpg">
      </div>
      <div class="col-sm-8 text-justify">
        <p i18n="Concept Page|Values paragraph 1@@valuesparag1">Dyle to firma zrodzona z pasji tworzenia i z miłości do piękna. Konstruując nasze meble chcieliśmy oddać hołd dwóm
          wielkim siłom napędowym świata: naturze i historii. Z ich połączenia narodził się pomysł wykorzystania historycznego
          drewna do stworzenia linii nowoczesnych, lecz ponadczasowych stołów. Dzięki ogromnemu przywiązaniu do detali i
          przy zastosowaniu ręcznego wykonania proste formy naszych stołów są absolutnym odzwierciedleniem cennych dla nas
          wartości: estetyki i jakości.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="module-title  align-left" i18n="Concept Page|Process header@@processHeader">Produkcja</h2>
      </div>
      <div class="col-sm-4 text-center col-md-push-8 concept-image">
        <img src="assets/images/progress.jpg">
      </div>
      
      <div class="col-sm-8 col-md-pull-4 text-justify">
          <p i18n="Concept Page|Process paragraph 1@@processparag1">Projektując nasze stoły zadbaliśmy o każdy detal, bo wierzymy, że troska o najmniejsze szczegóły tworzy najlepszy
            efekt.
          </p>
          <p i18n="Concept Page|Process paragraph 2@@processparag2">Najwyższa jakość materiałów, ręczne wykonanie, absolutna prostota i nowoczesny design. To wartości, którymi kierujemy
            się nie tylko produkując meble, ale podejmując każde, nawet najmniejsze decyzje w naszej firmie.</p>
          <p i18n="Concept Page|Process paragraph 2@@processparag3">Ręczne wykonanie czyni każdy produkt marki dyle niepowtarzalnym. Dzięki temu, że nasze meble tworzą rzemieślnicy,
            którzy kochają drewno tak bardzo jak my - mamy pewność, że każdy sygnowany przez nas produkt spełni najwyższe możliwe
            standardy. Nasi designerzy dbają o to, aby ręczna praca i charakter mebli marki dyle nie został przytłumiony przez
            zbędne dodatki – dlatego też tak bardzo cenimy prostotę formy. Wierzymy, że drewniane meble wymagają uważnego podejścia
            do projektowania, a właściwy balans pomiędzy designem a materiałem jest konieczny.
          </p>
          <p i18n="Concept Page|Process paragraph 2@@processparag4">Wychodząc naprzeciw potrzebom naszych Klientów stworzyliśmy także linie produktów opartych na nowopozyskanym drewnie.
            Każda deska, która w przyszłości stanie się elementem naszych stołów jest poddawana surowej ocenie i analizie słojowania.
            Dzięki temu tworzone w naszej stolarni nowe dębowe blaty same w sobie stanowią dzieło sztuki: piękno natury eksponowane
            ręką człowieka.
          </p>
        </div>
    </div>
  </div>
</section>
<my-concept-parallax></my-concept-parallax>
<section class="module bg-dark concept">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-8">
        <h2 class="module-title  align-left" i18n="Concept Page|Badges header@@badgesHeader">Materiały</h2>
      </div>
      <div class="col-sm-4 text-center concept-image">
        <img src="assets/images/legs.jpg">
      </div>
      <div class="col-sm-8 text-justify">


        <p i18n="Concept Page|Badges paragraph 1@@badgesparag1">
          <span class="font-alt">DREWNO</span>
          <br /> Uważamy, że drewno to najszlachetniejszy materiał z jakiego można wytwarzać meble użytkowe. Dobry, twardy i szlachetny
          dąb stanowi dla nas obiekt pracy i pasji, a wręcz pożądania – niezależnie od tego, czy jest drewnem historycznym
          czy świeżym. Szukając budulca do naszych stołów kładziemy ogromny nacisk na jakość każdej deski. Wierzymy, że tylko
          dzięki współpracy ze specjalistami wyznającymi takie wartości jak my, jesteśmy w stanie stworzyć ponadprzeciętny
          produkt. Nasi pracownicy to ludzie z wieloletnim doświadczeniem w zakresie ręcznej obróbki drewna, przez co mamy
          pewność, że każdy element zostanie wykonany zgodnie z najlepszą ze sztuk, a finalne dzieło otrzyma cechę ludzkiej
          niepowtarzalności.
        </p>
        <p i18n="Concept Page|Badges paragraph 2@@badgesparag2">
          <span class="font-alt">STAL</span>
          <br /> Projektowane i wytwarzane przez nas meble stanowią idealne połączenie dwóch sił i materiałów: zimna i połysku
          nowoczesnego metalu oraz piękna, ciepła i emocji płynących z drewna. Stosowana przez nas najwyższej jakości włoska
          stal lustrzana cechuje się bardzo głębokimi refleksami, co dodatkowo uwydatnia moc efektu kombinacji tych dwóch
          szlachetnych surowców.</p>


      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <h2 class="module-title  align-left" i18n="Concept Page|Certification header@@certificationHeader">Znakowanie produktu</h2>
      </div>
      <div class="col-sm-4 col-md-push-8 text-center concept-image">
        <img src="assets/images/badges.jpg">
      </div>
      
      <div class="col-sm-8 col-md-pull-4 text-justify">
          
                  <p i18n="Concept Page|Certification paragraph 1@@certificationparag1">Aby wyprodukowany przez naszych rzemieślników mebel mógł zostać ocechowany marką dyle musi zostać poddany szczegółowej
                    kontroli przez jednego z założycieli. Jeśli produkt spełnia wszystkie standardy jakościowe i jest absolutnie zgodny
                    z projektem, otrzymuje tabliczkę z ręcznie wybitym, unikatowym numerem seryjnym. Tabliczkę wykonuje się z materiału
                    tożsamego z użytym w meblu, a na niej laserowo umieszcza się kopie podpisów założycieli marki dyle wraz z informacjami
                    takimi jak seria, model oraz wymiary produktu.</p>
                  <p i18n="Concept Page|Certification paragraph 1@@certificationparag2">Ponadto do każdego z naszych wyrobów dołączany jest certyfikat gwarantujący jego autentyczność. W dokumencie obok
                    podpisów założycieli marki znajduje się numer wybijany na tabliczce znamionowej, a także nazwa serii, modelu, specyfikacja
                    użytych materiałów oraz wymiary. W przypadku linii heritage w certyfikacie podano również wiek i pochodzenie drewna.</p>
          
                </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-4 col-lg-8">
        <h2 class="module-title  align-left" i18n="Concept Page|Certification header@@genesisHeader">Geneza</h2>
      </div>
      <div class="col-sm-4 text-center concept-image">
        <img src="assets/images/genesis.jpg">
      </div>
      <div class="col-sm-8 text-justify">

        <p i18n="Concept Page|Genesis paragraph 1@@genesisparag1">Dyle to firma zrodzona z pasji tworzenia i z miłości do piękna. Konstruując nasze meble chcieliśmy oddać hołd dwóm
          wielkim siłom napędowym świata: naturze i historii. Z ich połączenia narodził się pomysł wykorzystania historycznego
          drewna do stworzenia linii nowoczesnych, lecz ponadczasowych stołów. Dzięki ogromnemu przywiązaniu do detali i
          przy zastosowaniu ręcznego wykonania proste formy naszych stołów są absolutnym odzwierciedleniem cennych dla nas
          wartości: estetyki i jakości.</p>
        <p>
          <span i18n="Concept Page|Genesis paragraph 2@@genesisparag2">To właśnie naturze, historii, estetyce i jakości nasze meble zawdzięczają swoją unikatowość, trwałość i uniwersalny
            charakter. Chcąc ocalić od zapomnienia piękne historyczne dyle
            <sup>*</sup>, które przez stulecia podtrzymywały konstrukcje drewnianych budynków, wpadliśmy na pomysł pokazania ich
            wyjątkowego piękna przez użycie jako budulca stołu. Ten rodzaj mebla nie został wybrany przypadkowo: stół jest
            osią, wokół której kręci się życie w każdym domu, miejscem gdzie spędzamy czas z rodziną i przyjaciółmi. Przy
            stole celebrujemy ważne chwile, nierzadko podejmujemy ważne życiowo decyzje, dzielimy się z drugim człowiekiem
            naszym życiem. My naszymi stołami chcemy się podzielić pięknem, historią, pasją i jakością. Naszym pragnieniem
            jest, aby każdy mógł obcować z tymi cennymi dla nas wartościami. Dlatego też stworzyliśmy meble, które niosąc
            w sobie historię – dzięki nowoczesnej oprawie – same mogą też historię tworzyć: pragniemy, by nasze stoły były
            dziedziczone przez kolejne pokolenia. By dzięki trwałości użytych materiałów ich piękno trwało nadal w przyszłych
            dziesięcio, a może nawet stuleciach.</span>
          <Br />
          <Br />
          <sup>*</sup> -
          <span i18n="Concept Page|Genesis paragraph 3@@genesisparag3" style="font-size:11px">gruba, mocna deska wykorzystywana do budowy stropów, ścian, mostów</span>
        </p>

      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
<my-brochures></my-brochures>
<hr class="divider-d">
<my-sitemap></my-sitemap>
<my-footer></my-footer>