<div class="product-configurator__image" *ngIf="imageName">
  <div class="big alt-gallery-item main-image">
    <div class="gallery-image">
      <a class="gallery">
        <div *ngIf="loading" class="loader" alt="loading"></div>
        <img (load)="onLoad()" src="{{imageName}}" />
        <div class="gallery-caption">
          <div class="gallery-icon">
            <span class="fa fa-search"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <ngu-carousel [inputs]="carouselTileOne" *ngIf="hasAlternateImages" class="ngucarousel">
    <ngu-tile NguCarouselItem *ngFor="let tile of carouselTileOneItems; let i = index;" class="noshadow">
      <div class="alt-gallery-item" (click)="changeImage(tile)">
        <div class="gallery-image">
          <a class="gallery">
            <img class="tile" [src]="getMinImagePath(tile)">
            <div class="gallery-caption">
              <div class="gallery-icon">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ngu-tile>
    <button NguCarouselPrev class="leftRs">&lt;</button>
    <button NguCarouselNext class="rightRs">&gt;</button>
  </ngu-carousel>
</div>