/*small thumbnails*/

.product-configurator__image .ngucarousel {
    /deep/ .ngucarousel-items {
        display: flex;
      }
      /deep/ .tile {
        box-shadow: none !important;
      }
    cursor:pointer;
    .item {
        padding: 0px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .alt-gallery-item:hover .gallery-caption,
    .gallery-item:hover .gallery-caption {
        opacity: 1;
        bottom: 54%;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    .alt-gallery-item,
    .gallery-item {
        position: relative;
        text-align: center;
        margin: 0 0 -7px;
    }
    .gallery-icon {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        height: 25px;
        width: 25px;
        font-size: 12px;
        margin: 0 auto;
        span {
            line-height: 25px;
        }
    }
    ul {
        display: none;
    }
    .leftRs {
        display: none !important;
    }
    .rightRs {
        display: none !important;
    }
}
/*big image*/
.product-configurator__image .big {
    cursor:pointer;
    &.alt-gallery-item:hover .gallery-caption,
    .gallery-item:hover .gallery-caption {
        opacity: 1;
        bottom: 50%;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    &.alt-gallery-item,
    .gallery-item {
        position: relative;
        text-align: center;
    }
    .gallery-icon {
        height: 65px;
        width: 65px;
        font-size: 32px;
        span {
            line-height: 25px;
        }
    }
    .gallery-image {
        .gallery {
            max-height: 100%;
        }
    }
}