<nav class="navbar navbar-custom navbar-fixed-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']">
        <img src="../../assets/images/logo-dyle.png" width="100px" alt="Dyle logo" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['']" i18n="Navigation|Navigation Home Link@@navigationHomeLink">Home</a>
        </li>
        <li>
          <a [routerLink]="['/concept']" i18n="Navigation|Navigation Concept Link@@navigationConceptLink">O nas</a>
        </li>
        <li>
          <a [routerLink]="['/products']" i18n="Navigation|Navigation Products Link@@navigationProductsLink">Produkty</a>
        </li>
        <li>
          <a [routerLink]="['/cooperation']" i18n="Navigation|Navigation Cooperation Link@@navigationCooperationLink">Współpraca</a>
        </li>
        <li>
          <a [routerLink]="['/contact']" i18n="Navigation|Navigation Contact Link@@navigationContactLink">Kontakt</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" *ngIf="currentLocale == 'pl'">PL</a>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" *ngIf="currentLocale == 'en'">EN</a>
          <ul class="dropdown-menu">
            <li *ngIf="currentLocale != 'pl'">
              <a href="http://dylefurniture.com/pl/">PL</a>
            </li>
            <li *ngIf="currentLocale != 'en'">
              <a href="http://dylefurniture.com/en/">EN</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>