<section>
  <div class="container pt-40">
    <div class="row">
      <div class="col-lg-12">
        <div class="font-alt configurator-title ">
          <span i18n="Configurator Page|Configurator@@header">Skonfiguruj swój stół</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="module product-configurator">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <my-product-header></my-product-header>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-push-6">
        <my-product-photo></my-product-photo>
        <my-product-price></my-product-price>
      </div>
      <div class="col-sm-6 col-lg-pull-6">
        <my-product-options [groupProduct]="groupProduct"></my-product-options>
        <my-product-description></my-product-description>
      </div>
    </div>

  </div>
</section>