<section class="module" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt" i18n="Contact Form|Fill the form@@fillTheForm">Wypełnij formularz</h2>
        <div class="module-subtitle font-serif"></div>
      </div>
    </div>
    {{series}}
    <div class="row">
      <div class="col-lg-4 col-sm-offset-2  text-right">
        <span class="font-alt dyle-black" i18n="Contact Form|Fill the form@@contactLabel">Kontakt </span>
        <ul class="contact-data  text-right">
          <li>
            <a href="mailto:info@dylefurniture.com">info@dylefurniture.com</a>
          </li>
          <li>
            <a href="tel:+48660494 866">+48 660 494 866</a>
            <span class="dyle-black" i18n="Contact Form|Fill the form@@polandeurope"> — Polska/Europa </span>
          </li>
          <li>
            <a href="tel:+48660494 866">+48 698 073 745</a>
            <span class="dyle-black" i18n="Contact Form|Fill the form@@polandeurope"> — Polska/Europa </span>
          </li>
          <li>
            <a href="tel:+6591339096">+65 913 39096</a>
            <span class="dyle-black" i18n="Contact Form|Fill the form@@singapurasia"> — Singapur/Azja</span>
          </li>
        </ul>
        <span class="font-alt dyle-black" i18n="Contact Form|Fill the form@@cooperationLabel">Współpraca </span>
        <ul class="contact-data  text-right">

          <li>
            <a href="tel:+48698073745">+48 698 073 745</a>
            <span class="dyle-black"> — Daniel Cisek</span>
          </li>

        </ul>
        <span class="font-alt dyle-black" i18n="Contact Form|Fill the form@@showroomsLabel">Showroomy </span>
        <ul class="contact-data  text-right">

          <li>
            <a href="tel:+48730740025">+48 730 740 025</a>
            <span class="dyle-black"> — Forum Desingu</span>
          </li>
        </ul>
      </div>

      <div class="col-sm-4 ">
        <form (ngSubmit)="sendEmail()" action="" method="post" #contactForm="ngForm">
          <fieldset>
            <div class="form-group">
              <label class="sr-only" for="name" i18n="Contact|Name Label@@NameLabel">Name</label>
              <input id="name" name="name" type="text" placeholder="Your Name*" i18n-placeholder="Contact|Name Field@@NameField" class="form-control"
                required [(ngModel)]="model.name" #name="ngModel">
              <p *ngIf="name.errors && (name.dirty || name.touched)" class="help-block text-danger">
                <span [hidden]="!name.errors.required" i18n="Contact|Name Error Required@@RequiredName">
                  Please enter your name.
                </span>
              </p>
            </div>
            <div class="form-group">
              <label class="sr-only" for="name" i18n="Contact|Email Label@@EmailLabel">Your E-mail</label>
              <input id="email" name="email" type="text" placeholder="Your Email*" class="form-control" required [(ngModel)]="model.email"
                #email="ngModel" [email]="true" i18n-placeholder="Contact|Email Field@@EmailField">
              <p *ngIf="email.errors && (email.dirty || email.touched)" class="help-block text-danger">
                <span [hidden]="!email.errors.required" i18n="Contact|Email Error Required@@RequiredEmail">
                  We gently please, send us your email address!
                </span>
                <span [hidden]="!email.errors.email" i18n="Contact|Email Format Error@@FormatEmailError">
                  Incorrect email address format
                </span>
              </p>
            </div>

            <div class="form-group">
              <textarea class="form-control" id="message" name="message" placeholder="Please enter your message." i18n-placeholder="Contact|Message Field@@MessageField"
                rows="7" required [(ngModel)]="model.message" maxlength="5000" #message="ngModel"></textarea>
              <p *ngIf="message.errors && (message.dirty || message.touched)" class="help-block text-danger">
                <span [hidden]="!message.errors.required" i18n="Contact|Message Error Required@@RequiredMessage">
                  Please fill this area with some content!
                </span>
                <span [hidden]="!message.errors.maxlength" i18n="Contact|Message To Long Error@@MaxLengthError">
                  Message cannot be more than 1000 characters long.
                </span>
              </p>
            </div>
            <div class="text-center">
              <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit" [disabled]="!contactForm.form.valid" i18n="Contact Form|Send button@@sendButtonText">Wyślij</button>
            </div>
          </fieldset>
        </form>
        <div class="ajax-response font-alt" id="contactFormResponse"></div>
      </div>
    </div>
  </div>
</section>