<my-navigation></my-navigation>
<section class="module-header bg-dark-30" style="background:url(../assets/images/dyle-coop.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="font-alt  module-title dyle-title-size-3">
          <span class="dyle-black" i18n="Cooperation Page|Cooperation Heading@@Coopheading">Strefa architekta</span>
          <!-- <span class="dyle-brand-font" i18n="Concept Page|Your@@yourSatisfactionTextDyle">dyle</span> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="module bg-dark concept">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-justify">
        <h2 class="module-title  align-left" i18n="Cooperation Page|Cooperation welcometxt@@h1">Współpraca</h2>
        <p i18n="Cooperation Page|Cooperation welcometxt 1@@paragraph1">W związku z dynamicznym rozwojem naszej marki zapraszamy do kontaktu szczególnie biura architektoniczne, projektantów
          wnętrz, designerów, dekoratorów oraz sklepy internetowe zainteresowane nawiązaniem współpracy i sprzedażą naszych
          produktów. Gorąco zachęcamy także showroomy stacjonarne z Warszawy, Wrocławia, Poznania, Trójmiasta oraz z większych
          miast zagranicznych do zapoznania się z naszą ofertą. .   Jednocześnie dziękujemy tym, którzy już dzisiaj obdarzyli
          nas swoim zaufaniem. Zawsze cieszymy się, gdy nasze produkty stanowią znakomite uzupełnienie ciekawych i nowoczesnych
          wnętrz oraz niezmiennie pomnażają satysfakcję klientów. Zadowolenie nabywcy oraz jego radość z zakupu i użytkowania
          to dla nas priorytet.   </p>
        <p i18n="Cooperation Page|Cooperation welcometxt 1@@paragraph2">

          Specjalnie z myślą o Państwa potrzebach jako twórców projektów wnętrz chcących wykorzystać nasze produkty do swoich aranżacji,
          przygotowaliśmy do pobrania pliki 3D z modelami oferowanych produktów.</p>
        <p i18n="Cooperation Page|Cooperation welcometxt 1@@paragraph3">W celu uzyskania szczegółowych warunków współpracy zapraszamy do kontaktu.</p>
      </div>
    </div>

    <div class="row mt-0">
      <div class="text-center">
        <a class="section-scroll btn btn-border-w btn-round" [routerLink]="['/contact']" i18n="Home Page|Cooperation Section Contact Link Text @@Contactlink">Kontakt</a>
      </div>
    </div>
    <div class="row mt-80">
      <div class="col-sm-4 text-center concept-image">
        <img src="assets/images/renders/heritage.jpg">
      </div>

      <div class="col-sm-4 text-center concept-image">
        <img src="assets/images/renders/essence.jpg">
      </div>

      <div class="col-sm-4 text-center concept-image">
        <img src="assets/images/renders/pure.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-justify">
        <h2 class="module-title  align-left" i18n="Cooperation Page|Heritage header@@HeritageHeader">Heritage</h2>

        <!-- <a [routerLink]="['/contact/heritage']" class="btn btn-border-w btn-round" i18n="Cooperation Page|Heritage request@@request">Wyślij zapytanie
          </a> -->
        <a class="btn btn-border-w btn-round" data-toggle="modal" data-target="#downloadFiles" data-series="Heritage" i18n="Cooperation Page|Heritage request@@request" (click)="setSeries($event)">
          Pobierz pliki
        </a>


      </div>
      <div class="col-sm-4 text-justify">
        <h2 class="module-title  align-left" i18n="Cooperation Page|Essence header@@EssenceHeader">Essence</h2>
        <p>
          <a class="btn btn-border-w btn-round" data-toggle="modal" data-target="#downloadFiles" data-series="Essence" i18n="Cooperation Page|Essence request@@request" (click)="setSeries($event)">
            Pobierz pliki
          </a>
        </p>
      </div>
      <div class="col-sm-4 text-justify">
        <h2 class="module-title  align-left" i18n="Cooperation Page|Pure header@@PureHeader">Pure</h2>
        <p>
          <a class="btn btn-border-w btn-round" data-toggle="modal" data-target="#downloadFiles" data-series="Pure" i18n="Cooperation Page|Pure request@@request" (click)="setSeries($event)">
            Pobierz pliki
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<my-cooperation-parallax></my-cooperation-parallax>
<hr class="divider-d">
<my-brochures></my-brochures>
<hr class="divider-d">
<my-sitemap></my-sitemap>
<my-footer></my-footer>


<div class="modal fade" id="downloadFiles" tabindex="-1" role="dialog" aria-labelledby="downloadFilesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-dark">
      <div class="modal-header">
        <h5 class="modal-title module-title " id="downloadFilesLabel">{{currentSeries}} </h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="sendMaterialsRequest()" action="" method="post" #requestForm="ngForm">
          <span class="col-white" i18n="Request|Email Label@@EmailLabel">Podaj swój e-mail, a prześlemy materiały</span>
          <br />
          <input id="email" name="email" type="text" placeholder="Your Email*" class="form-control" required [(ngModel)]="model.email"
            #email="ngModel" [email]="true" i18n-placeholder="Request|Email Field@@EmailField">
          <p *ngIf="email.errors && (email.dirty || email.touched)" class="help-block text-danger">
            <span [hidden]="!email.errors.required" i18n="Request|Email Error Required@@RequiredEmail">
              We gently please, send us your email address!
            </span>
            <span [hidden]="!email.errors.email" i18n="Request|Email Format Error@@FormatEmailError">
              Incorrect email address format
            </span>
          </p>
          <br />
          <button id="rfSubmit" type="submit" [disabled]="!requestForm.form.valid" i18n="Request Form|Send button@@requestButtonText">Wyślij</button>
          <div class="ajax-response font-alt" id="requestFormResponse"></div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>

    </div>
  </div>
</div>