<my-navigation></my-navigation>
<section class="module-header bg-dark-30" style="background-image:url(../assets/images/products-head.png)">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="font-alt module-title dyle-title-size-3">
          <span class="dyle-black" i18n="Products Page|Products@@productsProd">Produkty</span>
          <br />
          <a class="section-scroll btn btn-border-w btn-round" href="#heritage-grid" i18n="Products Page|Configurator@@coinfigurator">Konfigurator</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="module  bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="module-title align-left">
          <span i18n="Products Page|Tables@@tables">Stoły</span>
          <span class="dyle-brand-font">dyle</span>
        </h2>
        <p class="" i18n="Products Page|Tables Desc@@tablesDesc">
          Wybierz model stołu, który chcesz skonfigurować. Niezależnie od opcji, którą wybierzesz, możesz mieć pewność, że stół zostanie
          wykonany ze szczególną dbałością o szczegóły - specjalnie dla Ciebie. Wszystkie nasze stoły wykonywane są ręcznie,
          na zamówienie dzięki czemu możemy dopasować poszczególne meble do danej aranżacji bądź wykonać projekt indywidualny.
          Jeśli więc nie znajdziesz na naszej stronie tego, czego szukasz zapraszamy do kontaktu - podejmiemy się zrealizowania
          niemalże każdego projektu.

        </p>
      </div>
    </div>
  </div>
</section>
<section class="module  bg-dark pt-0 pb-0">
  <div class="container-fluid" id="heritage-grid">
    <ul class="works-grid works-grid-gut  works-hover-b" id="heritage-grid">

      <li class="work-item">
        <a class="gallery" href="#" [routerLink]="['/products/heritage/old-oak']">
          <div class="work-image">
            <img src="../assets/images/configurator/grid/model-1.jpg" alt="dyle furniture" />
          </div>
          <div class="work-caption">
            <div class="work-descr font-alt">
              <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
              </span>
            </div>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="gallery" href="#" [routerLink]="['/products/heritage/black-oak']">
          <div class="work-image">
            <img src="../assets/images/renders/heritage (2).jpg" alt="dyle furniture" />
          </div>
          <div class="work-caption">
            <div class="work-descr font-alt">
              <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="container-fluid" id="essence-grid">
    <ul class="works-grid works-grid-gut  works-hover-b works-grid-3" id="essence-grid">
      <li class="work-item">
        <a class="gallery" href="#" [routerLink]="['/products/essence/model-001']">
          <div class="work-image">
            <img src="../assets/images/configurator/grid/model-3.jpg" alt="dyle furniture" />
          </div>
          <div class="work-caption">
            <div class="work-descr font-alt">
              <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
              </span>
            </div>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="gallery" href="#" [routerLink]="['/products/essence/straight']">
          <div class="work-image">
            <img src="../assets/images/configurator/grid/model-5.jpg" alt="dyle furniture" />
          </div>

          <div class="work-caption">
            <div class="work-descr font-alt">
              <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
              </span>
            </div>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="gallery" href="#" [routerLink]="['/products/essence/model-003']">
          <div class="work-image">
            <img src="../assets/images/configurator/grid/model-4.jpg" alt="dyle furniture" />
          </div>

          <div class="work-caption">
            <div class="work-descr font-alt">
              <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="container-fluid" id="pure-grid">
    <div>
      <ul class="works-grid works-grid-gut  works-hover-b works-grid-3 pure-grid">
        <li class="work-item">
          <a class="gallery" href="#" [routerLink]="['/products/pure/propeller']">
            <div class="work-image">
              <img src="../assets/images/configurator/grid/model-6.jpg" alt="dyle furniture" />
            </div>
            <div class="work-caption">
              <div class="work-descr font-alt">
                <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="work-item">
          <a class="gallery" href="#" [routerLink]="['/products/pure/the-one']">
            <div class="work-image">
              <img src="../assets/images/configurator/grid/model-7.jpg" alt="dyle furniture" />
            </div>
            <div class="work-caption">
              <div class="work-descr font-alt">
                <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="work-item">
          <a class="gallery" href="#" [routerLink]="['/products/pure/vegas-vic']">
            <div class="work-image">
              <img src="../assets/images/configurator/grid/model-8.jpg" alt="dyle furniture" />
            </div>
            <div class="work-caption">
              <div class="work-descr font-alt">
                <span class="section-scroll btn btn-border-w btn-round" i18n="Products Page|Configurator@@coinfigurator">Konfigurator
                </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<my-brochures></my-brochures>
<hr class="divider-d">
<my-sitemap></my-sitemap>
<my-footer></my-footer>