<main>
  <my-navigation></my-navigation>

  <div class="main">
    <my-personalization></my-personalization>
    <my-produt-configurator></my-produt-configurator>

    <my-product-gallery></my-product-gallery>
    <my-brochures></my-brochures>


    <my-sitemap></my-sitemap>

    <hr class="divider-d">
    <my-footer></my-footer>
  </div>
  <div class="scroll-up">
    <a href="#totop">
      <i class="fa fa-angle-double-up"></i>
    </a>
  </div>
</main>