
<form class="product-configurator__form">
            <div class="row" *ngIf="showSizes">
              <div class="col-sm-8 col-xs-8">                
                <select class="form-control" name="size" [(ngModel)]="selectedSize" (change)="updateProduct()">
                  <option value="1" *ngIf="hasSize200x100">200 x 100</option>
                  <option value="2" *ngIf="hasSize240x100">240 x 100</option>
                </select>
              </div>

              <div class="col-sm-4 col-xs-4">
                <span class="font-alt" i18n="Product Configurator|Table Size@@tableSize">Rozmiar</span>
              </div>
            </div>
            <div class="row" *ngIf="showLegs">
              <div class="col-sm-8 col-xs-8">
                <select class="form-control" name="legs" [(ngModel)]="selectedLegs" (change)="updateProduct()">
                  <option [value]="1" *ngIf="hasBlackLegs" i18n="Product Configurator|Black color@@legColorBlack">Malowane</option>
                  <option [value]="2" *ngIf="hasSilverLegs" i18n="Product Configurator|Silver color@@legColorSilver">Lustrzane</option>
                  <option [value]="3" *ngIf="hasGoldLegs" i18n="Product Configurator|Gold color@@legColorGold">Złote</option>
                </select>
              </div>
              <div class="col-sm-4 col-xs-4">
                <span class="font-alt" i18n="Product Configurator|Table Legs Color@@tableLegsColor">Nogi</span>
              </div>
            </div>
            <div class="row"  *ngIf="showTop">
              <div class="col-sm-8 col-xs-8">
                <select class="form-control" name="top" [(ngModel)]="selectedTop" (change)="updateProduct()">
                  <option value="1" *ngIf="hasNormalOakTop" i18n="Product Configurator|Wood type oak @@woodTypeOak">Nowy Dąb</option>
                  <option value="2" *ngIf="hasDarkOakTop" i18n="Product Configurator|Wood type dark oak@@woodTypeDarkOak">Nowy Ciemny Dąb</option>
                  <option value="3" *ngIf="hasOldOakTop" i18n="Product Configurator|Wood type 100 years oak@@woodTypeOlsOak">100 Letni Dąb</option>
                </select>
              </div>
              <div class="col-sm-4 col-xs-4">
                <span class="font-alt" i18n="Product Configurator|Table Wood Type@@woodType">Rodzaj drewna</span>
              </div>
            </div>
          </form>