    <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home" style="height:100vh; background-image: url(../../assets/images/section-1.jpg)">
      <div class="dyle-caption">
        <div class="caption-content">
          <div class="font-alt mb-40 dyle-title-size-3"><span class="dyle-black" i18n="Home Page|Welcome Screen Header 1@@welcHead1">Dziedzictwo i nowoczesny design </span>
            <br /><span i18n="Home Page|Welcome Screen Header 2@@welcHead2">z dbałością o każdy detal</span></div>
        <!-- <a class="section-scroll btn btn-border-w btn-round"  [routerLink]="['/products']">Konfigurator</a> -->
        </div>
      </div>
    </section>