<section class="module bg-dark" id="concept">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2 class="module-title align-left" i18n="Home Page|Concept Section Rules Header@@rulesHeader">Nasze wartości</h2>
        <p i18n="Home Page|Concept Page Rules Content@@rulesContent-1">Najwyższa jakość materiałów, ręczne wykonanie, absolutna prostota i nowoczesny design. To
            wartości, którymi kierujemy się nie tylko produkując meble, ale podejmując każde, nawet            najmniejsze decyzje w naszej firmie. </p>
        <p i18n="Home Page|Concept Page Rules Content@@rulesContent-2">Ręczne wykonanie czyni każdy produkt marki Dyle niepowtarzalnym. Dzięki temu, że nasze meble
            tworzą specjaliści, którzy kochają drewno tak bardzo jak my - mamy pewność, że każdy wykonany
            produkt spełni najwyższe możliwe standardy.</p>
        <p i18n="Home Page|Concept Page Rules Content@@rulesContent-3">Nasi designerzy dbają o to, aby ręczna praca i charakter mebli marki Dyle nie został przytłumiony
            przez zbędne dodatki – dlatego też tak bardzo cenimy prostotę formy. Wierzymy, że drewniane
            meble wymagają uważnego podejścia do projektowania, a właściwy balans pomiędzy designem a
            materiałem jest konieczny.</p>
      </div>
      <div class="col-lg-6">
        <h2 class="module-title align-left" i18n="Home Page|Concept Section Furniture Header@@furnitureHeader">Meble</h2>
        <p i18n="Home Page|Furniture Content@@furnitureContent-1">Uważamy, że drewno to najszlachetniejszy materiał z jakiego można wytwarzać meble. Wierzymy, że
            tylko dzięki współpracy z najlepszymi rzemieślnikami wyznającymi takie wartości jak my, jesteśmy w
            stanie wykonać ponadprzeciętny produkt. Nasi pracownicy to ludzie z wieloletnim doświadczeniem w
            zakresie ręcznej obróbki drewna, przez co mamy pewność, że każdy element zostanie wykonany
            zgodnie z najlepszą ze sztuk, a finalne dzieło otrzyma cechę ludzkiej niepowtarzalności.</p>
        <p i18n="Home Page|Furniture Content@@furnitureContent-2">Projektowane i wytwarzane przez nas meble stanowią idealne połączenie nowoczesnego metalu:
            jego zimna i połysku oraz piękna, ciepła i emocji płynących z drewna.</p>

      </div>
    </div>
    <div class="row">
      <div class="text-center mt-40">
        <a class="section-scroll btn btn-border-w btn-round" [routerLink]="['/products']" i18n="Home Page|Concept Section Configurator Link Text @@conceptGoToLink">Konfigurator</a>
      </div>
    </div>
  </div>
</section>