<section class="module bg-dark pb-0 pt-0">

      <ngu-carousel [inputs]="carouselTileOne">
            <ngu-tile NguCarouselItem *ngFor="let tile of carouselTileOneItems; let i = index;">
                  <div class="gallery-item">
                        <div class="gallery-image">
                              <a class="gallery" [attr.href]="tile">
                                    <img class="tile" [attr.src]="tile">
                                    <div class="gallery-caption">
                                          <div class="gallery-icon">
                                                <span class="fa fa-search"></span>
                                          </div>
                                    </div>
                              </a>
                        </div>
                  </div>
            </ngu-tile>
            <button NguCarouselPrev class="leftRs">&lt;</button>
            <button NguCarouselNext class="rightRs">&gt;</button>
      </ngu-carousel>
</section>