<section class="module pt-0 pb-0" id="about">
  <div class="row position-relative m-0">
    <div class="hidden-lg hidden-md side-image" style="background-image: url(/assets/images/about-dyle.png);"></div>
    <div class="col-xs-12 col-md-12 img-n-txt">
      <div class="img-n-txt--img">
        <img align="left" src="/assets/images/about-dyle.png">
      </div>
      <div class="img-n-txt--txt">
        <h2 class="module-title  align-left">
          <span class="dyle-brand-font" i18n="Home Page|About Us Section Header@@aboutUsHeader">Dyle</span>
        </h2>
        <p>
          <span class="dyle-brand-font">Dyle</span>
          <span i18n="Home Page|About Us Section Content@@aboutUsContent1">to firma zrodzona z pasji tworzenia i z miłości do piękna. Konstruując nasze meble chcieliśmy oddać hołd dwóm wielkim
            siłom napędowym świata: naturze i historii. Z ich połączenia narodził się pomysł wykorzystania historycznego
            drewna do stworzenia linii nowoczesnych lecz ponadczasowych stołów.
          </span>
        </p>
        <p i18n="Home Page|About Us Section Content@@aboutUsContent2">Dzięki ogromnemu przywiązaniu do detali i przy zastosowaniu ręcznego wykonania proste formy naszych stołów są absolutnym
          odzwierciedleniem cennych dla nas wartości: estetyki i jakości.</p>
        <p i18n="Home Page|About Us Section Content@@aboutUsContent3">Nieodłącznym elementem wszystkich modeli jest połączenie drewna i metalu. Stosowana przez nas najwyższej jakości
          włoska stal lustrzana cechuje się bardzo głębokimi refleksami, co dodatkowo uwydatnia osobliwe połączenie tych
          dwóch materiałów.</p>
        <p i18n="Home Page|About Us Section Content@@aboutUsContent4">Projektując nasze stoły zadbaliśmy o każdy detal, bo wierzymy, że troska o najmniejsze szczegóły tworzy najlepszy
          efekt.
        </p>
      </div>
    </div>
  </div>
</section>