<section class="module bg-dark-30 parallax-bg" style="background-image:url(assets/images/forum-designu.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video-box">
          <div class=" module-title" i18n="See Us|HSee Us@@seeUs">Nasze showroomy</div>
          <div class="video-title font-alt">
            <a class="col-white" href="http://forumdesignu.pl/en/" i18n="See Us|At Forum Design@@seeUsAtForum">
              <i style="font-size: 1em;" class="fa fa-map-marker"></i>  Forum designu, Kraków</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>