<section class="module-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-5">
        <div class="callout-text font-alt">
          <h3 class="callout-title" i18n="Home Page|Brochures Wanna see more tex@@wonnaSeeMore">Dowiedz się więcej o naszej marce</h3>
          <p i18n="Home Page|Brochures Wanna see more catalog@@getCatalog">Pobierz katalog, by jeszcze lepiej poznać nasze stoły.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-9 col-lg-7">
        <div class="callout-btn-box">
          <a class="btn btn-border-w btn-round" href="/assets/brochure_{{currentLocale}}.pdf" i18n="Home Page|Brochures Download@@downloadBrochure">Pobierz katalog</a>
          <!-- <a class="btn btn-border-w btn-round" href="#" i18n="Home Page|Brochures Section Customers Information @@curstomerInfoBrochure">Informacje dla klienta</a> -->
        </div>
      </div>
    </div>
  </div>
</section>