<div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="widget">
                <h5 class="widget-title font-alt" i18n="SiteMap|Site Map@@siteMapHeader">Mapa strony</h5>

                <ul class="icon-list horizontal-footer__between">
                  <li>
                    <a class="section-scroll" href="#home" i18n="SiteMap|Site Map Home Link@@siteMapHomeLink">Home</a>
                  </li>
                  <li>
                    <a [routerLink]="['/concept']" i18n="SiteMap|Site Map Concept Link@@siteMapConceptLink">O nas</a>
                  </li>
                  <li>
                    <a [routerLink]="['/products']" i18n="SiteMap|Site Map Products Link@@siteMapProductsLink">Produkty</a>
                  </li>
                  <li>
                    <a [routerLink]="['/cooperation']" i18n="SiteMap|Site Map Cooperation Link@@siteMapCooperationLink">Współpraca</a>
                  </li>
                  <li>
                    <a [routerLink]="['/contact']" i18n="SiteMap|Site Map Contact Link@@siteMapContactLink">Kontakt</a>
                  </li>
                </ul>
              </div>
            </div>
            </div>
            <div class="row  mt-40">
            <div class="col-sm-12">
              <div class="widget social-links">
                <h5 class="widget-title font-alt">Social Media</h5>
                <div class="horizontal-footer__between">
                <a href="https://www.facebook.com/dylefurniture">
                    <i class="fa fa-facebook"></i> <span i18n="SiteMap|Site Map Like Us@@siteMapLikeUs">polub nas na facebooku</span>
                  </a>
                  <a href="https://www.instagram.com/dylefurniture/">
                    <i class="fa fa-instagram"></i> <span i18n="SiteMap|Site Map See Us@@siteMapSeeUsOnInsta">zobacz nas na instagramie</span>
                  </a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>